<h1>Listing grade_types</h1>

<table>
  <tr>
    <th>Letter grade</th>
    <th>Numeric weight</th>
  </tr>

<% @grade_types.each do |grade_type| %>
  <tr>
    <td><%=h grade_type.letter_grade %></td>
    <td><%=h grade_type.numeric_weight %></td>
    <td><%= link_to 'Show', grade_type %></td>
    <td><%= link_to 'Edit', edit_grade_type_path(grade_type) %></td>
    <td><%= link_to 'Destroy', grade_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New grade_type', new_grade_type_path %>