<% unless @people == nil %>
	<table class="search_result">
	  <tr>
	    <th>Type</th>
	    <th>First</th>
	    <th>Last</th>
	    <th>SSN</th>
		<th>Degree Program</th>
		<th>Address</th>
		<th>Phone</th>
		<th>Distance Learning</th>
	  </tr>
	
	<% @people.each do |person| %>
	  <tr>
	    <td><%=PersonType.find(person.person_type_id).name %></td>
	    <td><%=h person.given_name %></td>
	    <td><%=h person.surname %></td>
	    <td><%=h person.ssn %></td>
		<td><%= person.degree_program.title unless person.degree_program.nil? %>
		<td>
			<% person.addresses.each_with_index do |addr, i| %>
				<% if i != 0 %>
					<br />
				<% end %>
	    		<%=AddressType.find(addr.address_type_id).name %>:
				<%=h addr.address_1 %>
				<%=h addr.address_2 %>
				<%=h addr.address_3 %>
				<%=h addr.city %>
				<%=h addr.province %>
				<%=h addr.postal_code %>
			<% end %>
		</td>
		<td>
			<% person.phones.each_with_index do |ph, i| %>
				<% if i != 0 %>
					<br />
				<% end %>
				<%= PhoneType.find(ph.phone_type_id).name %>:
				<%=h ph.phone_number %>
			<% end %>
		</td>
		<td><%=h person.distance_learning%></td>
	    <td><%= link_to 'Edit', edit_person_path(person, :search => params[:search], :person_type => params[:person_type]), :remote => true %></td>
		<td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
	  </tr>
	<% end %>
	</table>
	<script>
	$(document).ready(function(){
		$('.search_result a').live('ajax:complete', hideCenterPanelLoading).click(showCenterPanelLoading);
	});
	</script>
<% end %>