<% unless @users.nil? %>
	<table class="search_result">
	  <tr>
	    <th>Email</th>
	    <th><%= sort_link @search, :given_name, "First" %></th>
	    <th><%= sort_link @search, :surname, "Last" %></th>
	  </tr>
	
	<% @users.each do |user| %>
	  <tr>
	    <td><%=h user.email %></td>
	    <td><%=h user.given_name %></td>
	    <td><%=h user.surname %></td>
	    <td><%= link_to 'Edit', edit_user_path(user, :search => params[:search]), :remote => true %></td>
		<td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
	  </tr>
	<% end %>
	</table>
	<script>
	$(document).ready(function(){
		$('a.sort_link').live('click', function () {
			$.getScript(this.href);
			return false;
		});
	});
	</script>
<% end %>