<h1>Editing department</h1>

<%= form_for(@department) do |f| %>
	<%= render "shared/error_messages", :target => @department %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @department %> |
<%= link_to 'Back', departments_path %>