<h1>New major</h1>

<%= form_for(@major) do |f| %>
	<%= render "shared/error_messages", :target => @major %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', majors_path %>