<h1>Editing invoice_item</h1>

<%= form_for(@invoice_item) do |f| %>
	<%= render "shared/error_messages", :target => @invoice_item %>

  <p>
    <%= f.label :invoice %><br />
    <%= f.text_field :invoice %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :unit_price %><br />
    <%= f.text_field :unit_price %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :discount %><br />
    <%= f.text_field :discount %>
  </p>
  <p>
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @invoice_item %> |
<%= link_to 'Back', invoice_items_path %>