<% unless @courses.nil? %>
	<table class="search_result">
	  <tr>
	    <th><%= sort_link @search, :course_number, "Course #" %></th>
	    <th><%= sort_link @search, :name, "Course Name" %></th>
		<th>Units</th>
	    <th><%= sort_link @search, :department_name, "Department" %></th>
	  </tr>
	
	<% @courses.each do |course| %>
	  <tr>
	    <td><%= course.course_number %></td>
	    <td><%= course.name %></td>
	    <td><%= course.units %></td>
	    <td><%= Department.find(course.department_id).name %></td>
	    <td><%= link_to 'Edit', edit_course_path(course, :search => params[:search]), :remote => true %></td>
	    <td><%= link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
	<%= will_paginate @courses %>

	<script>
	$(document).ready(function(){
		$('.search_result a').live('ajax:complete', hideCenterPanelLoading).click(showCenterPanelLoading);

		$('a.sort_link, .pagination a').click(function () {
			$('#search_result_header').hide(); $('#search_result_panel').hide(); $('#search_result_loading').show();
			$.getScript(this.href, function() {
				$('#search_result_loading').hide();
			});
			return false;
		});
	});
	</script>
<% end %>