<div id="search_result_container_panel" class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons">
	<div id="search_result_loading" class="j-loading-small" style="display: none"></div>
	<h3 id="search_result_header" class="header ui-accordion-header ui-helper-reset ui-state-default ui-corner-top">
		<span class="ui-icon ui-icon-triangle-1-s"></span>
		<a href="#">Search Results</a>
	</h3>
	<div id="search_result_panel" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: block; overflow-x: auto; overflow-y: auto; padding-top: 11px; padding-bottom: 11px;">
		<% unless @course_offerings.nil? %>

			<%= will_paginate @course_offerings %>

			<table class="search_result">
				<tr>
					<th><%= sort_link @search, :year, 'Year offered' %></th>
					<th><%= sort_link @search, :term_type_name, 'Term' %></th>
					<th><%= sort_link @search, :course_name, 'Course' %></th>
					<th><%= sort_link @search, :instructor_person_surname, 'Instructor' %></th>
				</tr>
	
			<% @course_offerings.each do |course_offering| %>
				<tr>
				  	<% @course = Course.find(course_offering.course_id) %>
				    <td><%= course_offering.year %></td>
				    <td><%= course_offering.term_type.name %></td>
				    <td><%= @course.course_number_and_name %></td>
				    <td><%= course_offering.instructor_person.full_name unless course_offering.instructor_person.nil? %></td>
		
					<% if is_administrator %>
				    <td><%= link_to 'Edit', edit_course_offering_path(course_offering, :search => params[:search]), :remote => true %></td>
				    <td><%= link_to 'Destroy', course_offering_path(course_offering, :search => params[:search]), :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
					<% end %>
				</tr>
			<% end %>

			</table>

			<%= will_paginate @course_offerings %>

		<% end %>
	</div>
</div>