<h1>Listing course_taken_statuses</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @course_taken_statuses.each do |course_taken_status| %>
  <tr>
    <td><%=h course_taken_status.name %></td>
    <td><%= link_to 'Show', course_taken_status %></td>
    <td><%= link_to 'Edit', edit_course_taken_status_path(course_taken_status) %></td>
    <td><%= link_to 'Destroy', course_taken_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New course_taken_status', new_course_taken_status_path %>