<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body>
    <!-- <%= site_bar -%> -->
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">
      <header>
        <%= render :partial => "/shared/header" -%>
      </header>
      <section id='page'>

        <% if request.request_uri.starts_with? '/admin' %>
  			<div id="sidebar">
  				<div id="left_menu" class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons" role="tablist">
  					<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1">
  						<span class="ui-icon ui-icon-triangle-1-e"></span>
  						<a href="#">Administration</a>
  					</h3>
  					<div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="overflow-x: auto; overflow-y: auto; display: none; height: 222px; padding-top: 11px; padding-bottom: 11px; " role="tabpanel">
  						<%= link_to "Students", people_path(:person_type => PersonType.student.id), :remote => true, :class => 'nav-link' %><br/>
  						<%= link_to "Faculty", people_path(:person_type => PersonType.faculty.id), :remote => true, :class => 'nav-link' %><br/>
  						<%= link_to "Transcripts", course_takens_path, :remote => true, :class => 'nav-link' %><br/>
  						<%= link_to "Courses", courses_path, :remote => true, :class => 'nav-link' %><br/>
  						<%= link_to "Course Offerings", course_offerings_path, :remote => true, :class => 'nav-link' %><br/>
  					</div>
  					<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1">
  						<span class="ui-icon ui-icon-triangle-1-e"></span>
  						<a href="#">Reports</a>
  					</h3>
  					<div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="overflow-x: auto; overflow-y: auto; display: none; height: 222px; padding-top: 11px; padding-bottom: 11px; " role="tabpanel">
  						<%= link_to "Courses by Instructor", people_path(:person_type => PersonType.student.id), :remote => true, :class => 'nav-link' %><br/>
  						<%= link_to "Instructor by Course", people_path(:person_type => PersonType.student.id), :remote => true, :class => 'nav-link' %><br/>
  						<%= link_to "All Enrollments by Course", people_path(:person_type => PersonType.student.id), :remote => true, :class => 'nav-link' %><br/>
  						<%= link_to "All Students by Degree", people_path(:person_type => PersonType.student.id), :remote => true, :class => 'nav-link' %><br/>
  					</div>
  				</div>
  			</div>
  			<div id="j-loading" style="display: none;">
  			</div>
        <div id="j-center">
  				<%= yield %>
        </div>
  			<div id="j-search-results">
  			</div>
  			<% else %>
          <%= yield %>
        <% end %>

      </section>
    </div>
    <footer>
      <%= render :partial => "/shared/footer" -%>
    </footer>
    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>
